[submodule "site-lisp/expand-region.el"]
	path = site-lisp/expand-region.el
	url = https://thisirs@github.com/thisirs/expand-region.el.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git://github.com/philjackson/magit.git
[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git@github.com:thisirs/org-mode.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://thisirs@github.com/thisirs/yasnippet.git
[submodule "site-lisp/inf-ruby"]
	path = site-lisp/inf-ruby
	url = https://thisirs@github.com/thisirs/inf-ruby.git
[submodule "site-lisp/matlab-emacs"]
	path = site-lisp/matlab-emacs
	url = https://thisirs@github.com/thisirs/matlab-emacs.git
[submodule "site-lisp/emacs-helm"]
	path = site-lisp/emacs-helm
	url = https://github.com/emacs-helm/helm.git
[submodule "site-lisp/undo-tree"]
	path = site-lisp/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
