[submodule ".emacs.d/vendor/anything-config"]
        path = .emacs.d/vendor/anything-config
        url = git://repo.or.cz/anything-config.git
[submodule ".emacs.d/vendor/org-mode"]
        path = .emacs.d/vendor/org-mode
        url = git://repo.or.cz/org-mode.git
[submodule ".emacs.d/vendor/magit"]
        path = .emacs.d/vendor/magit
        url = git://github.com/philjackson/magit.git
[submodule ".emacs.d/vendor/expand-region.el"]
	path = .emacs.d/vendor/expand-region.el
	url = https://thisirs@github.com/thisirs/expand-region.el.git
[submodule ".emacs.d/vendor/yasnippet"]
	path = .emacs.d/vendor/yasnippet
	url = https://thisirs@github.com/thisirs/yasnippet.git
[submodule ".emacs.d/vendor/inf-ruby"]
	path = .emacs.d/vendor/inf-ruby
	url = https://thisirs@github.com/thisirs/inf-ruby.git
[submodule ".emacs.d/vendor/matlab-emacs"]
	path = .emacs.d/vendor/matlab-emacs
	url = https://thisirs@github.com/thisirs/matlab-emacs.git
[submodule ".emacs.d/vendor/emacs-helm"]
	path = .emacs.d/vendor/emacs-helm
	url = https://github.com/thierryvolpiatto/emacs-helm.git
