*.elc

auto-save-list/
cache/
elpa/
emacs.backups/
emojis/
eshell/
url/
var/

bbdb
ido.last
recentf
tramp

lisp/init-vanilla.el

# Custom package repository
straight/

# StackExchange client
.sx/

smex-items

forge-database.sqlite
network-security.data
sokoban-state

transient/
emms/
eudc-options
Dockerfile
savehist
abbrev_defs