[submodule ".emacs.d/vendor/anything-config"]
        path = .emacs.d/vendor/anything-config
        url = git://repo.or.cz/anything-config.git
[submodule ".emacs.d/vendor/org-mode"]
        path = .emacs.d/vendor/org-mode
        url = git://repo.or.cz/org-mode.git
[submodule ".emacs.d/vendor/magit"]
        path = .emacs.d/vendor/magit
        url = git://github.com/philjackson/magit.git
