*.elc

auto-save-list/
cache/
elpa/
emacs.backups/
emojis/
eshell/
url/
var/

bbdb
ido.last
recentf
tramp

lisp/init-vanilla.el

# Custom package repository
local-package-archives/packages/
local-package-archives/working/
local-package-archives/package-build.el

# StackExchange client
.sx/
